# -- Rust ------------------------------------------------------------------- #
# -- ---- ------------------------------------------------------------------- #

/debug
/target
Cargo.lock

# -- Python ----------------------------------------------------------------- #
# -- ------ ----------------------------------------------------------------- #

.python-version
pyrightconfig.json
files/
*.egg-info

# -- ------------- ---------------------------------------------------------- #
# package builds
*.whl
build/
dist/
.eggs/
python/lucien.egg-info
*.so
.DS_Store
__pycache__

**venv

justfile